.custom-control{
    display: table-cell;
}

input[type="checkbox"]:checked {
  background: #FFFA01FF;
  border: 1px solid #FFFA01FF;
  border-radius: 30%;
}

.select2-container {
  background-color: #2c2c2c;
  border-color: #FFFA01FF;
  color: white;
}

.select2-container--default {
    background-color: #2c2c2c;
    border-color: #FFFA01FF;
    color: white;
}

.select2-selection__choice{
    margin-top: -5px !important;
}

/* see https://stackoverflow.com/a/59923156 */
.select2-selection__rendered{
    margin-top: -5px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: white !important;
}