{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Create Bill</h1>
        </div>
        <div class="card-body">
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock content %}
{% block js_scripts %}
{{ block.super }}
<script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script>
<script>
$(document).ready(function() {
    $('a.add-row').click(function(){
        const itemField$ = $('select[id^="id_orders-"][id$="item"]').last();
        var itemElementName = itemField$.attr('name');
        categoryElementName = itemElementName.replace('item', 'category');

        itemField$.attr('data-chainfield', categoryElementName);
        console.log(categoryElementName);
    })
})
</script>
{% endblock js_scripts %}